<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="images/logo.png">
    <meta property="description"
        content="A platform that allows two people to have a video chat between them in a peer2peer way without a server being in between them, so it's like Zoom or Google Meet type of App, but only for two people.">
    <meta property="og:title" content="Facelink - call">
    <title>Facelink - Call</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/call.css">
    <script src="js/global.js" defer></script>
    <script src="js/call.js" defer></script>
</head>

<body>
    <div class="app-container">
        <div class="inner-container">
            <div class="app-bar">
                <h1 class="app-bar__title"><img src="./images/logo.png" width="96" alt="logo"></h1>
                <section class="app-bar__link-container">
                    <h2 class="app-bar__link-container__label">Link to share</h2>
                    <input class="app-bar__link-container__copy-input" id="id" type="text" readonly aria-readonly="true"
                        aria-label="link">
                    <button data-clipboard-btn class="app-bar__link-container__copy-btn">
                        <img width="20" src="images/clipboard.png">
                    </button>
                </section>
            </div>
            <section class="videos" aria-label="videos-section" data-videos>
                <video id="remote-video" class="videos__video" autoplay></video>
                <video id="local-video" class="videos__video" muted autoplay></video>
            </section>
            <section class="controllers">
                <button role="switch" aria-checked="true" id="video-toggler"
                    class="controllers__toggler controllers__toggler--danger" type="button">
                    <img width="20" src="images/no-video.png">
                </button>
                <button role="switch" aria-checked="true" id="audio-toggler"
                    class="controllers__toggler controllers__toggler--danger" type="button">
                    <img width="20" src="images/no-mic.png">
                </button>
                <button role="switch" aria-checked="true" data-message-toggler
                    class="controllers__toggler controllers__toggler--info" type="button">
                    <img width="20" src="images/message.png">
                </button>
                <button data-leave-call role="switch" aria-checked="true" data-message-toggler
                    class="controllers__toggler controllers__toggler--danger controllers__toggler--danger--active"
                    type="button">
                    <img width="20" src="images/call.png">
                </button>
            </section>
        </div>

        <div class="message-container message-container--invisible" data-message-container>
            <section class="message-container__message-box">
                <h2 class="message-container__message-box__title">Chat</h2>
                <ul data-messages-list class="message-container__message-box__messages">
                </ul>
            </section>
            <form id="form-message" class="message-container__form-message">
                <label for="message-input" hidden>Message</label>
                <input autocomplete="off" placeholder="Type your message here..."
                    class="message-container__form-message__input" name="message-box__input" id="message-box__input"
                    type="text">
                <button data-send-message-btn class="message-container__form-message__send-btn" type="submit">
                    <img width="16" src="images/send-message.png">
                </button>
            </form>
        </div>
    </div>


</body>

</html>