<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facelink</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/global.js" defer></script>
    <script src="js/index.js" defer></script>
</head>

<body>
    <div class="container">
        <h1 class="app-name"><img src="./images/logo.png" alt="app logo" /></h1>
        <div class="inner-container">
            <h2 class="inner-container__title"><img src="./images/flash.png" alt="flash" width="16"> Start Instant Call
            </h2>
            <div class="inner-container__subtitle">Create your room and share it with your friends</div>
            <form data-new-room-form class="inner-container__form">
                <label class="inner-container__form__label">Your Room ID</label>
                <div class="inner-container__form__inner-container">
                    <input data-new-room-id-input class="inner-container__form__input" type="text"
                        value="lkealmkemzakemaz" readonly>
                    <button type="button" data-copy-to-clipboard class="inner-container__form__copy-btn">
                        <img width="16" src="images/clipboard.png">
                    </button>
                </div>
                <button class="inner-container__form__create-btn" type="submit">Start Call</button>
            </form>
        </div>
        <div class="inner-container">
            <h2 class="inner-container__title"><img src="./images/users.png" alt="users" width="16"> Join Call</h2>
            <div class="inner-container__subtitle">Already have a room ID? Enter it below</div>
            <form data-room-form class="inner-container__form">
                <label class="inner-container__form__label">Room ID</label>
                <div class="inner-container__form__inner-container">
                    <input data-room-id-input class="inner-container__form__input" type="text"
                        placeholder="Enter Room ID...">
                </div>
                <button class="inner-container__form__create-btn" type="submit">Join Call</button>
            </form>
        </div>
</body>

</html>