<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video Chat</title>
        <link rel="stylesheet" href="style.css">
        <script src="script.js" defer></script>
    </head>

    <body>
        <div class="container">
            <h1>Video Chat</h1>
            <section class="link-container">
                <h2 hidden>Link to share</h2>
                <input id="id" type="text" readonly aria-readonly="true" aria-label="link">
                <button class="copy-to-clipboard">Copy to clipboard</button>
            </section>
            <section class="message-box">
                <h2 hidden>Messages</h2>
                <ul class="message-box__messages">
                    <li class="message-box__message">Begin Messaging</li>
                </ul>
            </section>
            <form id="form-message">
                <label for="message-input" hidden>Message</label>
                <input autocomplete="off" class="message-box__input" name="message-box__input" id="message-box__input"
                    type="text">
                <button style="display: block;width: fit-content;margin: auto;margin-top: 5px" type="submit">Send
                    Message</button>
            </form>
            <div id="togglers" class="togglers" aria-label="togglers">
                <button role="switch" aria-checked="true" id="video-toggler" class="togglers__video-toggler"
                    type="button">Toggle Video</button>
                <button role="switch" aria-checked="true" id="audio-toggler" class="togglers__audio-toggler"
                    type="button">Toggle Audio</button>
            </div>
            <section class="videos">
                <video id="local-video" class="videos__video" muted autoplay></video>
                <video id="remote-video" class="videos__video" autoplay></video>
            </section>
        </div>
    </body>

</html>
