*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* --black-color: hsl(240, 5.9%, 10%); */
    --black-color: #09090b;
    --blue-color: #203a55;
    --light-blue-color: #0080ff;
    --light-black-color: #18181b;
    --dark-color: #365166;
    --lighter-black-color: #202022;
    --red-color: #ef4444;
    --border-color: #2b2b2d;
    --white-transparent: #ffffff1a;
    --dark-red: #da3f3f;
    --text-color: #fff;
}

body {
    margin: 0;
    background-color: hsl(0, 50%, 100%);
    font-family: "Arimo";
    scrollbar-color: var(--blue-color) var(--light-black-color);
    scrollbar-width: thin;
}

input {
    font-family: "Arimo";
}

.app-container {
    display: flex;
    height: 100vh;
}

.app-bar {
    display: flex;
    background-color: var(--lighter-black-color);
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 8px;
}

.app-bar__title {
    color: var(--text-color);
}

.app-bar__link-container {
    display: flex;
    gap: .2em;
}

.app-bar__link-container__label {
    font-size: 16px;
    color: var(--text-color);
    align-self: center;
}

.app-bar__link-container__copy-input {
    color: var(--text-color);
    outline: none !important;
    border: 1px solid var(--border-color);
    padding: 8px;
    background-color: var(--light-black-color);
}

.inner-container {
    background-color: var(--light-black-color);
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
    align-items: center;
    width: 100%;
}

.videos {
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: .5em;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    align-items: center;
    justify-content: space-around;
    overflow-y: auto;
    scrollbar-color: var(--blue-color) var(--light-black-color);
    scrollbar-width: thin;
    height: 100%;
}

.videos--column {
    flex-direction: column;
}

.videos--column .videos__video {
    max-width: 500px;
}

.videos:not(.videos--column) .videos__video {
    height: 100%;
}

.videos__video {
    border-radius: .5em;
    object-fit: cover;
    width: 100%;
    border: 1px var(--border-color) solid;
    max-width: 600px;
    max-height: 600px;
}

.controllers {
    display: flex;
    justify-content: center;
    gap: 1em;
    background-color: var(--lighter-black-color);
    width: 100%;
    padding: 8px;
}

.controllers__toggler,
.app-bar__link-container__copy-btn {
    background-color: transparent;
    border: none;
    transition: .3s;
    border: var(--border-color) 1px solid;
    padding: 8px 16px;
    border-radius: .4em;
    cursor: pointer;
}

.controllers__toggler:hover,
.app-bar__link-container__copy-btn:hover {
    background-color: var(--white-transparent);
}

.controllers__toggler--danger--active {
    background-color: var(--red-color);
}

.controllers__toggler--danger--active:hover {
    background-color: var(--dark-red);
}

.controllers__toggler--info--active:hover {
    background-color: var(--blue-color);
}

.controllers__toggler--info--active {
    background-color: var(--light-blue-color);
}

.message-container {
    display: flex;
    flex-direction: column;
    /* position: fixed;
    right: 0;
    top: 0; */
    background-color: var(--black-color);
    width: 500px;
}

.message-container--invisible {
    display: none;
}

.message-container__message-box {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.message-container__message-box__title {
    color: var(--text-color);
    display: block;
    padding: 16px;
    border-bottom: 1px var(--border-color) solid;
    font-size: 16px;
}

.message-container__message-box__messages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 8px;
    overflow: auto;
    scrollbar-color: var(--blue-color) var(--light-black-color);
    scrollbar-width: thin;
}

.message-container__message-box__messages__message {
    padding: 12px;
    border: 1px var(--border-color) solid;
    color: var(--text-color);
    border-radius: 8px;
    max-width: 80%;
    width: fit-content;
}

.message-container__message-box__messages__message--left {
    background-color: var(--lighter-black-color);
}

.message-container__message-box__messages__message--right {
    align-self: end;
    background-color: var(--light-blue-color);
}

.message-container__message-box__messages__message--middle {
    background-color: var(--black-color);
    align-self: center;
}

.message-container__form-message {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 1em .5em;
    justify-content: space-around;
    border-top: solid var(--border-color) 1px;
}


.message-container__form-message__input {
    background-color: transparent;
    border-radius: 4px;
    border: none;
    outline: none !important;
    padding: 12px;
    width: 80%;
    color: var(--text-color);
    background-color: var(--lighter-black-color);
    border: 1px solid var(--border-color);
}

.message-container__form-message__send-btn {
    background-color: var(--light-blue-color);
    border: none;
    border-radius: 4px;
    height: 100%;
    cursor: pointer;
    padding-inline: 12px;
    transition: .2s;
}

.message-container__form-message__send-btn:not(:disabled):hover {
    background-color: var(--blue-color);
}

/* .message-container__form-message__send-btn:disabled {
    cursor: initial;
    border: none;
    opacity: .5;
} */


@media screen and (max-width: 900px) {
    .app-container {
        flex-wrap: wrap;
    }

    .videos {
        flex-direction: column;
    }

    .message-container {
        width: 100%;
    }

    .message-container__message-box__messages {
        height: 300px;
    }
}